* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  height: 100vh;
}

.cities-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 700px;
}

.city-container {
  width: 40%;
  border-radius: 5px;
  border: 1px solid #111;
  outline: none;
  font-size: 16px;
  overflow: hidden;
}

.city-input {
  width: 100%;
  font-size: 16px;
  overflow: hidden;
  background: transparent;
  border: 0;
  outline: none;
  padding: 10px;
}

.arrow {
  font-size: 30px;
  transition: ease 0.2s;
  outline: none;
}

.arrow:hover {
  cursor: pointer;
}

.btn {
  cursor: pointer;
  padding: 10px 10px;
  margin: 0 10px;
  border-radius: 5px;
  border: 1px solid #111;
  outline: none;
  transition: ease 0.2s;
}

.btn:hover,
btn:active {
  background-color: rgb(216, 216, 216);
}

.suggestions > div {
  padding: 2.5px 10px;
  font-size: 16px;
}

.suggestions > div:first-of-type {
  border-top: solid 1px #111;
}

.suggestions > div:hover {
  cursor: pointer;
  background-color: rgb(241, 241, 241);
}
