* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  height: 100vh;
}

.cities-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
}

.city-container {
  width: 40%;
  padding: 5px;
}

.city-input {
  font-size: 16px;
  width: 100%;
  border: 1px solid #111;
  border-radius: 5px;
  outline: none;
  padding: 10px 10px;
}

.arrow {
  font-size: 45px;
  margin: auto;
  transition: ease 0.2s;
  outline: none;
}

.arrow:hover {
  cursor: pointer;
}

.btn {
  cursor: pointer;
  padding: 10px 10px;
  margin: 0 10px;
  border-radius: 5px;
  border: 1px solid #111;
  outline: none;
  transition: ease 0.2s;
}

.btn:hover,
btn:active {
  background-color: rgb(216, 216, 216);
}
